<section data-ng-controller="AddressesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Addresses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="address in addresses" data-ng-href="#!/addresses/{{address._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="address.created | date:'medium'"></span>
				by
				<span data-ng-bind="address.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="address.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!addresses.$resolved || addresses.length">
    	No Addresses yet, why don't you <a href="/#!/addresses/create">create one</a>?
    </div>
</section>