<section data-ng-controller="AddresstypesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Addresstypes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="addresstype in addresstypes" data-ng-href="#!/addresstypes/{{addresstype._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="addresstype.created | date:'medium'"></span>
				by
				<span data-ng-bind="addresstype.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="addresstype.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!addresstypes.$resolved || addresstypes.length">
    	No Addresstypes yet, why don't you <a href="/#!/addresstypes/create">create one</a>?
    </div>
</section>